<header id="header">
    <nav class="container">
        <a href="./index.html" class="logo"><img src="./assets/logo.svg" alt="もこもこテラス"></a>
        <ul class="nav-links">
            <li><a href="./friends.html">ねこのお友達</a></li>
            <li><a href="./how_to_enjoy.html">過ごし方</a></li>
            <li><a href="./index.html#system">料金</a></li>
            <li><a href="./index.html#menu">メニュー</a></li>
            <li><a href="./index.html#access">アクセス</a></li>
            <li><a href="./rules.html">お約束</a></li>
        </ul>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>